#canvas1 {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: url('./images/background.png');
}

#beetlemorph, #player, #player_jets, #rhinomorph, #boss {
  display: none;
}